[submodule "Gaja-Client"]
	path = Gaja-Client
	url = https://github.com/TymekTM/Gaja-Client.git
[submodule "Gaja-server"]
	path = Gaja-server
	url = https://github.com/TymekTM/Gaja-server.git
[submodule "Gaja-Web"]
	path = Gaja-Web
	url = https://github.com/TymekTM/Gaja-Web
[submodule "Gaja-Overlay"]
	path = Gaja-Overlay
	url = https://github.com/TymekTM/Gaja-Overlay
